<div class="container">
  <h2 class="text-white bg-dark mt-5 mb-2 px-3 py-2 rounded">Articles List</h2>
  <%= render 'article_list', obj: @articles %>

  <div class="text-center mt-3">
    <%= link_to 'Create a new Post', new_article_path, class: 'btn btn-primary me-3' %>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-dark' %>
  </div>
</div>