<div class="container mt-5">
    <% if @user.errors.any? %>
        <div class="container">
            <div class="alert alert-warning" role="alert">
                <h3>Check the following: </h3>
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>

    <h2 class="mb-3 text-center">Edit your profile settings</h2>

    <%= render 'form' %>

    <div class="text-center">
        [ <%= link_to 'Cancel request and return to articles listing', articles_path %> ]
    </div>
</div>